:root {
  --primary-text-color: #212427;
  --black: #000;
  --mute-gray: #d3d3d3;
  --orange: #ff9472;
  --pink: #f2709c;
  --white: #f7fafc;

  --body-text: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --heading-text: 'Poppins', sans-serif;

  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

* {
  transition: all 0.1s ease-in-out;
}

body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: var(--body-text);
  font-size: 18px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  caret-color: rgba(0, 0, 0, 0);
  font-family: var(--heading-text);
}

h1 {
  font-size: 40px;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 60px;

  a {
    color: var(--primary-text-color);
    border-bottom: 2px solid var(--pink);
    font-weight: 500;
    text-decoration: none;
  }

  a:hover {
    color: var(--pink);
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    padding-bottom: 10px;

    &:before {
      content: '❯';
      color: var(--pink);
      font-size: 14px;
      margin: 0 8px;
    }
  }
}
