@import '../styles/global.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  place-content: center;
}

.laptop {
  display: none;
  width: 100%;
}

.phone {
  max-width: 500px;
  width: 100%;
}

.title {
  //background: linear-gradient(to right, var(--pink), var(--orange));
  box-shadow: var(--box-shadow);
  color: var(--primary-text-color);
  display: grid;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.10em;
  padding: 40px 40px 0 40px;
  place-content: center;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .laptop {
    display: block;
  }
}

